
button {
    width: 50%;
    height: 110px;
    background-color: white;
    border: solid 2px #255a4d;
    border-radius: 10%;
    font-size: 21px;
    font-weight: bold;
    color: #255a4d;
    text-align: center;
    outline: none;
  }
  
button:hover {
    box-shadow: 3px 3px 6px black;
    background-color: #255a4d;
    color: white;
}